.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  min-width: 400px;
}

.form {
  margin: 0 auto;
  margin-bottom: 40px;
}